@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
	font-family: 'Pretendard-Regular';
}

body {
    background-color: #eee;
}

#container{
    max-width:720px;
    margin:30px auto 20px;
    padding:10px;
    border-radius:20px;
    background-color:#fff;
    font-weight:500;
    text-align:center;
    font-size:24px;
}

a.linebreak{
            text-decoration-line: none;
            display:block;
            font-size:24px;
            line-height:1.2;
            background-color:#28886D;
            color:white;
            font-weight:600;
            margin:10px 30px 20px;
            padding:18px 20px;
            border-radius:5px;
        }
#a-container{
            max-width:560px;
            background-color:#EAE8ED;
            margin:25px auto;
            padding:20px 10px;
            border-radius:20px;
            line-height:1.4;
}
#a-content{
    text-align:left;
    margin:18px;
    padding:10px 25px;
    word-break:break-all;
    color: #2D2F3E;
    font-size: 24px;
}
footer{
    text-align:center;
    opacity:0.5;
    margin-bottom:20px;
}
footer p{
    margin:10px 0;
    font-size:14px;
    font-weight:600;
}
#square{
    padding-top: 30px;
    padding-bottom: 50px;
}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
.fade-in {
    animation: fadeIn 1s ease-in-out;
}
    
