<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application</title>
    <link rel="stylesheet" as="style" crossorigin="" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="container">
        <h1 style="font-weight: 700;">영단어 트레이닝</h1>
        <div id="a-container" style="box-shadow: rgba(40, 136, 109, 0) 0px 0px 0px 3px inset;">
            <a class="linebreak" href="단어목록">단어장</a>
            <a class="linebreak" href="단어시험">단어시험</a>
            <div id="a-content">
                <p><b>단어장📗</b>: 단어를 학습합니다.</p>
                <p><b>단어시험✍️</b>: 단어를 잘 외웠는지 확인합니다.</p>
            </div>
        </div>
    </div>
    <footer><b>마지막 업데이트: 2023년 8월 13일</b></footer>
</body>
</html>