<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>빈출 단어 모음</title>
    <link rel="stylesheet" as="style" crossorigin="" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <style>
        a:link { color: #28886D; text-decoration: none;}
        a:visited { color: #28886D; text-decoration: none; }
        a:hover { text-decoration: none; }
    </style>
</head>
<body>
    <div id="container">
        <h1 style="font-weight: 700;">빈출 단어 모음</h1>
        <table>
            <tr>
                <th>단어</th>
                <th>뜻</th>
            </tr>
            {{table|safe}}
        </table>
    </div>
    <footer><p style="font-size: 16px;"><a href="/"><b>돌아가기</b></a></footer>
</body>
</html>